{{> header}}
</head>
    {{> menu user = usuario}}

    <div class="container">
        <div class="row">
            <h2>Formulario de inscripción al curso {{curso.nombre}}</h2>
            <div class="col-md-12"></div>
        </div>
    </div>

<body>
{{> footer}}